*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
  background-color: white;

}
header {
  padding-top: 24px;
  padding-bottom: 32px;
}
h1{
  display: none;
}


/* HEADER SECTION */
.header-container {
  display: flex;
justify-content: space-between;
padding: 0 32px;
}
.logo-header {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.54px;
  text-decoration: none;
  margin-right: 413px;
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 90px;
  width: 100%;

}
.header-nav-list {
  display: flex;
  gap: 24px;
}
.header-nav-list-item-link {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;
}
.header-media-links-list {
  display: flex;
  gap: 14px;
}


/* HEADER SECTION END */


/* HERO SECTION */

.hero-section{ 
padding: 0 32px;
  height: 600px;
  margin-bottom: 80px;
  
}
.hero-container{
  padding-left: 40px;
  padding-right: 40px;
  background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url(<path-to-image>), lightgray -70.319px -105.03px / 110.32% 139.265% no-repeat;
    background-image: url(../img/chocolate_main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.hero-text{
  color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.84px;
    max-width: 484px;
    max-height: 102px;
    margin-bottom: 32px;
}
.hero-btns {
  padding-bottom: 40px;
  display: flex;
  width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.left-btns{
  display: flex;
  justify-content: flex-start;
  gap: 14px;
}
.buy-btn{
  border-radius: 100px;
  border: none;
    background: #FD9222;
    padding: 14px 40px;
    color: #FFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
}
.how-btn{
border-radius: 100px;
border: 1px solid white;
  background:transparent;
  padding: 14px 40px;
  color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.right-btns{
  display: flex;
  align-items: center;
  gap:14px;
  cursor: pointer;
}
.scroll-text{
  color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.42px;
}
.scroll-btn{
  border-radius: 50%;
  background-color: #FFF;
  height: 38px;
  width: 38px;
  border: none;
  display: flex;
    justify-content: center;
    align-items: center;
}

/* BENEFITS SECTION */

.benefits{
  background-color: #1E1823;
  width: 100%;
  padding: 0;
}
.benefits-container{
  padding: 50px 50px;
}
.benefits-list{
  display: flex;
  justify-content: flex-end;
  gap: 88px;

}
.benefits-list-item::after{
  content: " | ";
  display: inline-block;
width: 1px;
height: 124px;
background: rgba(255, 255, 255, 0.50);
}


.benefits-icon-container{
  height: 62px;
  width: 62px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.benefits-h{
  color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}
.benefits-text{
  color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.28px;
}